header{
    width: auto;
    padding: 20px 60px;
}
.loggin{
    display: none;
}
header ul li{
    margin: 0 10px;
}
.banner{
    width: auto;
    padding: 40px 40px 85px;
    margin-left: 35px;
    margin-right: 35px;
}
.banner-image img{
    display: none;
}
.banner-text{
    text-align: center;
}
.banner-text p{
    margin: 5px 0;
    font-size: 1rem;
}
.banner-buttons{
    margin-top: 40px;
}
.online-payment{
    width: auto;
    flex-direction: column;
    align-items: center;
}
.payment-text{
    width: 95%;
}
.attributes{
    width: auto;
    padding: 0 35px;
}
.start-box{
    width:calc(100% - 76px) ;
    margin: 0 38px;
}
.support{
    width: calc(100% - 120px);
}
.support-request,.support-number{
    font-size: 1.2rem;
}
footer{
    flex-direction: column;
    width: calc(100% - 60px);
}
footer .footer-links{
    width: 100%;
}